global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 30s
    timeout client 60s
    timeout server 60s
    option httpclose
    option forwardfor

frontend splash_front
    bind *:9000
    default_backend splash_back

backend splash_back
    balance roundrobin
    option httpchk GET /_ping
    server splash-1 splash-1:8050 check fall 3 rise 2
    server splash-2 splash-2:8050 check fall 3 rise 2
    server splash-3 splash-3:8050 check fall 3 rise 2
